@import url(../../Source/assets/styles/mif-tree.css);

#tree_container{
height:200px;
width:200px;
position:relative;
border:solid 1px #b7b7b7;
float: left;
}

#node{
width:100px;
background:#E8EB9F;
cursor:move;
}

#list{
float:left;
margin-left:20px;
font-size:16px;
width: 320px;
}

#list div{
background:#DEE5F2;
margin:3px;
cursor:move;
float:left;
width: 150px;
height:30px;
}

.mif-tree-ghost *{
display:block;
float:left;
height:18px;
padding:0;
}
