
#tree_container{
height:300px;
margin:0 20px;
position:relative;
border:solid 1px #c7c7c7;
}

.mif-tree-wrapper{
font-family:verdana;
font-size:11px;
}


.tag-close{

}

.attr-value{
color:#e9441b;
}

.value{
color:#000;
}

.mif-tree-wrapper span.tag{
cursor:pointer;
}

.mif-tree-wrapper .mif-tree-toggle{
cursor:default;
}

.mif-tree-empty-icon{
padding-right:0;
}

.mif-tree-hover-toggle .mif-tree-name, .mif-tree-hover-name .mif-tree-name, .mif-tree-hover-icon .mif-tree-name{
color:blue;
}
