

/*TODO remove*/
.mif-tree-book-icon{
background-image:url('../images/book_icon.gif');
}

.mif-tree-bin-open-icon{
background-image:url('../images/bin_open_icon.gif');
}

.mif-tree-bin-close-icon{
background-image:url('../images/bin_close_icon.gif');
}

.mif-tree-bin-middle-icon{
background-image:url('../images/bin_middle_icon.gif');
}


/*@selection*/


/*@d'n'd*/
.mif-tree-pointer{
height:1px;
overflow: visible;
font-size:1px;
position: absolute;
background-image:none;/*url('../images/1.gif');*/
background-repeat:repeat-x;
background-color:#528fbd;
display:none;
z-index:1;
}

.mif-tree-pointer .left, .mif-tree-pointer .right{
position:absolute;
left:0;
top:-6px;
height:13px;
width:9px;
background:url('../images/pointer-left.png') no-repeat center center;
}

.mif-tree-pointer .right{
left:auto;
right:0;
background-image:url('../images/pointer-right.png');
}

.mif-tree-ghost{
background-color:#fff;
border:solid 1px #C6C8CD;
padding-left:2px;
position:absolute;
font-family:Lucida Grande, Helvetica, Arial, sans-serif;
font-size:12px;
color:#000;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-moz-box-shadow:0px 0px 20px #D4D4D4;
-webkit-box-shadow:0px 0px 20px #D4D4D4;
box-shadow:0px 0px 20px #D4D4D4;
height:20px;
z-index:10000;
}


.mif-tree-ghost .mif-tree-node-wrapper, .mif-tree-ghost .mif-tree-ghost-icon{
display:inline-block;
height:20px;
line-height:20px;
overflow:hidden;
}

.mif-tree-ghost span.mif-tree-text{
padding-top:1px;
padding-bottom:1px;
}

.mif-tree-ghost-icon{
padding-left:16px;
background:no-repeat center center;
}

.mif-tree-ghost-after{
background-image:url('../images/drop-after.gif');
}

.mif-tree-ghost-before{
background-image:url('../images/drop-before.gif');
}

.mif-tree-ghost-between{
background-image:url('../images/drop-between.gif');
}

.mif-tree-ghost-inside{
background-image:url('../images/plus-circle.png');
}

.mif-tree-ghost-notAllowed{
background-image:url('../images/slash.png');
}

.mif-tree-drag-current{

}

.mif-tree-replace{
background-color:#99c8fb;
}


/*@checkbox*/
.mif-tree-checkbox{
padding-left:18px;
background-image:url('../images/checkboxes.gif');
background-repeat: no-repeat;
}

.mif-tree-node-checked{
background-position:0px center;
}

.mif-tree-node-unchecked{
background-position:-18px center;
}

.mif-tree-node-nochecked{
background-position:-108px center;
}

.mif-tree-hover-checkbox .mif-tree-node-checked{
background-position:-36px center;
}

.mif-tree-hover-checkbox .mif-tree-node-unchecked{
background-position:-54px center;
}

.mif-tree-node-partially{
background-position:-72px center;
}

.mif-tree-hover-checkbox .mif-tree-node-partially{
background-position:-90px center;
}


/*@rename*/
.mif-tree-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}