/*@global*/
.mif-tree-wrapper{
position: relative;
width: 100%;
height:100%;
margin:0;
padding:0;
overflow:auto;
font-family:sans-serif;
font-size:12px;
line-height:18px;/*node height*/
white-space:nowrap;
cursor:default;
color:#000;
}

.mif-tree-wrapper:focus{
outline:0;
}

.mif-tree-wrapper span{
padding-bottom:2px;
padding-top:2px;
cursor:inherit;
}

.mif-tree-children{

}

.mif-tree-children .mif-tree-node-wrapper{
padding-left:18px;
}

.mif-tree-children .mif-tree-children .mif-tree-node-wrapper{
padding-left:36px;
}

.mif-tree-children .mif-tree-children .mif-tree-children .mif-tree-node-wrapper{
padding-left:54px;
}

.mif-tree-children .mif-tree-children .mif-tree-children .mif-tree-children .mif-tree-node-wrapper{
padding-left:72px;
}

.mif-tree-node{
position:relative;
}

.mif-tree-name{
cursor: default;
overflow:hidden;
margin-left:4px;
}

.mif-tree-name a{
color:red;
}

.mif-tree-name a:hover{
color:blue;
}


/*@gadjets*/
.mif-tree-gadjet{
padding-right: 16px;
z-index:1;
overflow:hidden;
background-repeat:no-repeat;
background-position:center center;
cursor:default;
}

.mif-tree-gadjet-none{
background:none;
}

.mif-tree-gadjet-minus{
background-image:url('../images/disclosureDownPressed.png');
}

.mif-tree-gadjet-plus{
background-image:url('../images/disclosureRightPressed.png');
}


/*@icons*/
.mif-tree-icon{
padding-right:18px;
background-position:0 50%;
background-repeat:no-repeat;
cursor:inherit;
}

.mif-tree-open-icon{
background-image:url('../images/openicon.png')
}

.mif-tree-close-icon{
background-image:url('../images/closeicon.png')
}

.mif-tree-loader-open-icon,.mif-tree-loader-close-icon{
background-image:url('../images/loader.gif');
}

/*TODO remove*/
.mif-tree-book-icon{
background-image:url('../images/book_icon.gif');
}

.mif-tree-bin-open-icon{
background-image:url('../images/bin_open_icon.gif');
}

.mif-tree-bin-close-icon{
background-image:url('../images/bin_close_icon.gif');
}

.mif-tree-bin-middle-icon{
background-image:url('../images/bin_middle_icon.gif');
}


/*@selection*/

.mif-tree-node-selected{
background-color: #578CDF;
color:#fff;
text-transform:italic;
}

/*@d'n'd*/
.mif-tree-pointer{
height:1px;
overflow: hidden;
position: absolute;
background-image:url('../images/1.gif');
background-repeat:repeat-x;
background-color:#292fef;
}


.mif-tree-ghost{
background-color:#fff;
border:solid 2px #e8e8f7;
padding-left:2px;
position:absolute;
}

.mif-tree-ghost .mif-tree-node-wrapper{
background:none;
}

.mif-tree-ghost span.mif-tree-text{
padding-top:1px;
padding-bottom:1px;
}

.mif-tree-ghost-icon{
padding-left:16px;
background-color:#fff;
background-repeat:no-repeat;
background-image:url('../images/dropzone.gif');
}

.mif-tree-ghost-after{
background-position:-64px 2px;
}

.mif-tree-ghost-before{
background-position:-48px 2px;
}

.mif-tree-ghost-between{
background-position:-16px 2px;
}

.mif-tree-ghost-inside{
background-position:-0px 2px;
}

.mif-tree-ghost-notAllowed{
background-position:-32px 2px;
}

.mif-tree-drag-current{
background-color:#cfcfd8;
}

.mif-tree-replace{
background-color:#99c8fb;
}


/*@checkbox*/
.mif-tree-checkbox{
padding-left:18px;
background-image:url('../images/checkboxes.gif');
background-repeat: no-repeat;
}

.mif-tree-node-checked{
background-position:0px center;
}

.mif-tree-node-unchecked{
background-position:-18px center;
}

.mif-tree-node-nochecked{
background-position:-108px center;
}

.mif-tree-hover-checkbox .mif-tree-node-checked{
background-position:-36px center;
}

.mif-tree-hover-checkbox .mif-tree-node-unchecked{
background-position:-54px center;
}

.mif-tree-node-partially{
background-position:-72px center;
}

.mif-tree-hover-checkbox .mif-tree-node-partially{
background-position:-90px center;
}


/*@rename*/
.mif-tree-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}