@import url(../../Source/assets/styles/mif-tree.css);

#tree_container{
height:300px;
width:200px;
position:relative;
border:solid 1px #737977;
}



#log{
white-space:nowrap;
}

ol{
margin-left:20px;
}

#tree_container.mif-tree-focused{
border:solid 1px #347496;
}
