@import url(../../Source/assets/styles/mif-tree.css);

h3.log{
margin:1em 0;
}


#log{
white-space:nowrap;
width:300px;
height:200px;
border:solid 1px #cfcad2;
}

ol#log li{
margin-left:30px;
}

ol#log{
overflow:auto;
}

#tree_container{
height:200px;
width:300px;
position:relative;
border:solid 1px #b7b7b7;
}
