@import url(../../Source/assets/styles/mif-tree.css);

.container{
height:250px;
width:200px;
position:relative;
border:solid 1px #cecece;
float:left;
margin-left:10px;
}

#informer{
clear:both;
}

#informer p{
font-weight:bold;
}

#informer span{
font-weight:normal;
}
