/*@import url(../../Source/assets/styles/mif-tree.css);*/

html, body{
	width:100%;
	height:100%;
	background:#FFFBF8;
}

*{
	margin:0;
	padding:0;
}

#tree{
height:200px;
width:200px;
position:relative;
}
