#tree_container{
height:200px;
width:200px;
position:relative;
border:solid 1px #b7b7b7;
}


/*...................................................................................
===============GLOBAL=================
......................................................................................*/

.mif-tree-wrapper{
color:#000;
position: absolute;
width: 100%;
height:100%;
margin:0;
padding:0;
overflow:auto;
font-family:sans-serif;
font-size:12px;
line-height:19px;/******Tree node height******/
white-space:nowrap;
cursor:default;
}

.mif-tree-bg{
width:100%;
height:100%;
position:absolute;
overflow:hidden;
}

.mif-tree-bg-container{
width:100%;
display:none;
}

.mif-tree-bg-node{
width:100%;
height:18px;
}

/*.mif-tree-bg-selected{
background-color:#dcd7ab;
}*/

.mif-tree-wrapper:focus{
outline:0;
}

.mif-tree-wrapper span{
padding-bottom:2px;
padding-top:2px;
cursor:inherit;
}

.mif-tree-children{
padding-left:18px;
width:18px;
}

.mif-tree-node{
width:18px;
/*background:url('../../Source/assets/../../Source/assets/images/line.gif') repeat-y 8px 0px;*/
position: relative;
}

.mif-tree-node-last{
/* background:url('../../Source/assets/../../Source/assets/images/line.gif') no-repeat 8px 0px; */
}

.mif-tree-name{
cursor: default;
overflow:hidden;
padding-left:4px;
padding-right:6px;
}

.mif-tree-name a{
color:red;
}

.mif-tree-name a:hover{
color:blue;
}


.mif-tree-node-wrapper{
/* background:url('../../Source/assets/../../Source/assets/images/horizontal-line.gif') no-repeat 9px center; */
}

/*...................................................................................
================GADJETS=================
......................................................................................*/

.mif-tree-gadjet{
background-image:url('../../Source/assets/../../Source/assets/images/arrows.gif');
padding-right: 16px;
z-index:1;
overflow:hidden;
background-repeat:no-repeat;
cursor:default;
}

.mif-tree-gadjet-none{
background:none;
}

.mif-tree-gadjet-minus{
background-position: -16px 50%;
}

.mif-tree-gadjet-plus{
background-position: 0px 50%;
}


.mif-tree-hover-gadjet .mif-tree-gadjet-minus{
background-position: -48px 50%;
}

.mif-tree-hover-gadjet .mif-tree-gadjet-plus{
background-position: -32px 50%;
}



/*.mif-tree-gadjet-hover{
background-image:url('../../Source/assets/../../Source/assets/images/gadjets-hover.gif');
}*/




/*...................................................................................
================ICONS=================
......................................................................................*/
.mif-tree-icon{
margin-left:1px;
padding-right:16px;
background-position:0 50%;
background-repeat:no-repeat;
cursor:inherit;
}

.mif-tree-open-icon{
background:url('../../Source/assets/../../Source/assets/images/folders.gif') right center no-repeat;
}

.mif-tree-close-icon{
background:url('../../Source/assets/../../Source/assets/images/folders.gif') left center no-repeat;
}

.mif-tree-loader-open-icon,.mif-tree-loader-close-icon{
background-image:url('../../Source/assets/../../Source/assets/images/mootree_loader.gif');
}

.mif-tree-book-icon{
background-image:url('../../Source/assets/../../Source/assets/images/book_icon.gif');
}

.mif-tree-bin-open-icon{
background-image:url('../../Source/assets/../../Source/assets/images/bin_open_icon.gif');
}

.mif-tree-bin-close-icon{
background-image:url('../../Source/assets/../../Source/assets/images/bin_close_icon.gif');
}






/*...................................................................................
================SELECTION=================
......................................................................................*/

/*.mif-tree-node-selected .mif-tree-name{
background-color: #010161;
color:#fff;
text-transform:italic;
}*/

/*.mif-tree-hover-node .mif-tree-name{
text-decoration:underline
}*/








/*...................................................................................
===============D'n'D=================
......................................................................................*/
.mif-tree-pointer{
height:1px;
overflow: hidden;
position: absolute;
background-image:url('../../Source/assets/../../Source/assets/images/1.gif');
background-repeat:repeat-x;
background-color:#292fef;
}


.mif-tree-ghost{
background-color:#fff;
border:solid 2px #e8e8f7;
padding-left:2px;
}

.mif-tree-ghost span{
padding-top:2px;
padding-bottom:2px;
}

.mif-tree-ghost .mif-tree-node-wrapper{
background:none;
}

.mif-tree-ghost span.mif-tree-text{
padding-top:1px;
padding-bottom:1px;
}

.mif-tree-ghost-icon{
padding-left:16px;
background-color:#fff;
background-repeat:no-repeat;
background-image:url('../../Source/assets/../../Source/assets/images/dropzone.gif');
}

.mif-tree-ghost-after{
background-position:-64px 2px;
}

.mif-tree-ghost-before{
background-position:-48px 2px;
}

.mif-tree-ghost-between{
background-position:-16px 2px;
}

.mif-tree-ghost-inside{
background-position:-0px 2px;
}

.mif-tree-ghost-notAllowed{
background-position:-32px 2px;
}

.mif-tree-drag-current{
/*background-color:#cfcfd8;*/
}

.mif-tree-replace{
background-color:#99c8fb;
}





/*...................................................................................
================CHECKBOX=================
......................................................................................*/
.mif-tree-checkbox{
padding-left:18px;
}

.mif-tree-node-checked, .mif-tree-node-checked .mif-tree-checkbox{
background:url('../../Source/assets/../../Source/assets/images/checked.gif') center 2px no-repeat;
}

.mif-tree-node-unchecked, .mif-tree-node-unchecked .mif-tree-checkbox{
background:url('../../Source/assets/../../Source/assets/images/unchecked.gif') center 2px no-repeat;
}

.mif-tree-node-checked-selected{
background:url('../../Source/assets/../../Source/assets/images/checked_selected.gif') center 2px no-repeat;
}

.mif-tree-node-unchecked-selected{
background:url('../../Source/assets/../../Source/assets/images/unchecked_selected.gif') center 2px no-repeat;
}








/*...................................................................................
===============RENAME=================
......................................................................................*/
.mif-tree-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}

































.mif-tree-node-bg{
position: absolute;
height:19px;
background:url('tree-bg.gif') center -95px repeat-x;
margin-left:-3px;
width:0;
}

.mif-tree-node-bg-left{
position: absolute;
width:100%;
height:100%;
background-image:url('tree-bg.gif');
background-repeat: no-repeat;
background-position: left -57px;
}


.mif-tree-node-bg-right{
position: absolute;
width:100%;
height:100%;
background:url('tree-bg.gif') right -76px no-repeat;
}




.mif-tree-node-bg-selected{
position: absolute;
height:19px;
background:url('tree-bg.gif') 50% -38px repeat-x;
margin-left:-3px;
overflow:hidden;
}

.mif-tree-node-bg-left-selected{
top:0;
left:0;
position: absolute;
width:100%;
height:100%;
background-image:url('tree-bg.gif');
background-repeat: no-repeat;
background-position: 0 0px;
overflow:hidden;
}


.mif-tree-node-bg-right-selected{
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
background:url('tree-bg.gif');
background-repeat: no-repeat;
background-position: right -19px;
overflow:hidden;
}

