@import url(../../Source/assets/styles/mif-tree.css);

#tree_container{
height:200px;
position:relative;
width:200px;
border:solid 1px #b2b2b2;
}



#log{
white-space:nowrap;
}

ol{
margin-left:20px;
}

fieldset{
width:200px;
padding:20px;
}

fieldset div{
margin-top:10px;
height:20px;
}

label{
width:60px;
display: block;
float:left;
font-size:14px;
}

input, select{
display:block;
float:left;
width:100px;
}

input{
width:96px;
}

.clear{
clear:both;
}

#submit_button{
width:160px;
}

#submit_button input{
float:right;
width:100px;
}
